<div class="tree-demo-app">
  <div class="tree-container tree-container--with-controls">
    <div class="tree-info">
      <p class="tree-title">Directory/File structure</p>
      <p class="notice">this tree has advanced configurations</p>
    </div>
    <div class="tree-content">
      <tree #treeFFS [tree]="ffs">
        <!--            (nodeRemoved)="onNodeRemoved($event)"-->
        <!--            (nodeRenamed)="onNodeRenamed($event)"-->
        <!--            (nodeSelected)="onNodeSelected($event)"-->
        <!--            (nodeUnselected)="onNodeUnselected($event)"-->
        <!--            (nodeMoved)="onNodeMoved($event)"-->
        <!--            (nodeExpanded)="onNodeExpanded($event)"-->
        <!--            (nodeCollapsed)="onNodeCollapsed($event)"-->
        <!--            [settings]="disabledCheckboxesSettings">-->
        <ng-template let-node>
          <span *ngIf="node.img"><img src="{{node.img}}" alt="image" style="height: 30px">{{node.menuGroup.mnuName}}</span>
          <br/>
          <i class="fa {{node.icon}}"></i>
          <a href="{{node.uri}}">
            <span *ngIf="node.nameVi" [innerHTML]="node.nameVi"></span>
          </a>
          <br/>
        </ng-template>
      </tree>
    </div>
  </div>

  <div class="tree-container">
    <div class="tree-info">
      <p class="tree-title">Programming languages tree</p>
      <p class="notice">this tree is using a custom template</p>
    </div>
    <div class="tree-content">
      <tree #treeIcons [tree]="icons">
        <!--            (nodeRemoved)="onNodeRemoved($event)"-->
        <!--            (nodeRenamed)="onNodeRenamed($event)"-->
        <!--            (nodeSelected)="onNodeSelected($event)"-->
        <!--            (nodeMoved)="onNodeMoved($event)"-->
        <!--            (nodeCreated)="onNodeCreated($event)">-->
        <ng-template let-node>
          <span *ngIf="node.img"><img src="{{node.img}}" alt="image" style="height: 30px">{{node.menuGroup.mnuName}}</span>
          <br/>
          <i class="fa {{node.icon}}"></i>
          <a href="{{node.uri}}">
            <span *ngIf="node.nameVi" [innerHTML]="node.nameVi"></span>
          </a>
          <br/>
        </ng-template>
      </tree>
    </div>
  </div>
</div>

