<div class="tree-demo-app">
  <div class="tree-container tree-container--with-controls">
    <div class="tree-info">
      <p class="tree-title">Directory/File structure</p>
      <p class="notice">this tree has advanced configurations</p>
    </div>
    <div class="tree-content">
      <tree #treeFFS [tree]="ffs"
            (nodeRemoved)="onNodeRemoved($event)"
            (nodeRenamed)="onNodeRenamed($event)"
            (nodeSelected)="onNodeSelected($event)"
            (nodeUnselected)="onNodeUnselected($event)"
            (nodeMoved)="onNodeMoved($event)"
            (nodeExpanded)="onNodeExpanded($event)"
            (nodeCollapsed)="onNodeCollapsed($event)"
            [settings]="disabledCheckboxesSettings">
      </tree>
    </div>
  </div>

  <div class="tree-container">
    <div class="tree-info">
      <p class="tree-title">Programming languages tree</p>
      <p class="notice">this tree is using a custom template</p>
    </div>
    <div class="tree-content">
      <tree #treeIcons [tree]="icons"
            [settings]="settings"
            (nodeRemoved)="onNodeRemoved($event)"
            (nodeRenamed)="onNodeRenamed($event)"
            (nodeSelected)="onNodeSelected($event)"
            (nodeMoved)="onNodeMoved($event)"
            (nodeCreated)="onNodeCreated($event)">
        <ng-template let-abc >
          <span *ngIf="abc.image"><img src="{{abc.image}}" alt="image" style="height: 30px"></span>
          <i *ngIf="abc.icon" class="fa {{abc.icon}}" ></i>
          <a href="{{abc.uri}}"><span class="node-name" [innerHTML]="abc.value"></span></a>
        </ng-template>
      </tree>
    </div>
  </div>
</div>

